extends layout.pug

block content
    .container.mt-4
        h3 Add Product
        form(action='/products/add', method='POST')
            .form-group
                label(for='title') Title
                input#title.form-control(type='text' name='title' aria-describedby='emailHelp' placeholder='Enter title')
            .form-group
                label(for='price') Price
                input#price.form-control(type='number' name='price' placeholder='Price')
            .form-group
                label(for='description') Description
                textarea#description.form-control(rows='3', name='description')

            if errors
                .form-group
                    each error in errors
                        p.text-danger #{error.msg + ' of ' + error.param.toUpperCase()}

            button.btn.btn-primary(type='submit') Submit

